@font-face {
  font-family: 'haxrcorp';
  src: url('haxrcorpttf.ttf');
}

input {
  font-family: haxrcorp, monospace;
  font-size: 15px;
}

body {
  font-family: haxrcorp, monospace;
  font-size: 15px;
  background-color: #f8f8f8;
  background-image: url('img/bg_tile.jpg');
  background-repeat: repeat;
}

.maincontainer {
  width: 672px;
  height: 319px;
  position: absolute;
  top: 0px;
  bottom: 100px;
  left: 0px;
  right: 0px;
  margin: auto;
  background-color: transparent;
}

.main {
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  position: absolute;
  top: -2px;
  color: #ffffff;
  width: 536px;
  height: 300px;
  left: -2px;
  right: 190px;
  margin: auto;
  text-align: center;
}
.mainnn {
  background: url('img/main.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.maincontents {
  width: 100%;
  height: 100%;
}

.button {
  width: 12px;
  height: 12px;
  float: left;
  margin-right: 2px;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.button:hover {
  background-color: #aaaaaa !important;
}

.searchbar {
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  width: auto;
  height: 12px;
  background-color: #ffffff;
  overflow: hidden;
}

.searchinput {
  line-height: 13px;
  height: 12px;
  top: -1px;
  position: relative;
  margin-left: 1px;
  margin-right: 1px;
  width: 100%;
  border: none;
  font-family: haxrcorp, monospace;
  font-size: 15px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 2px;
  padding-right: 2px;
  outline: none;
}

.searchinput:focus {
  outline: none;
  border: none;
}

.stats {
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  width: 300px;
  height: 12px;
  line-height: 12px;
  float: right;
  margin-left: 2px;
  background-color: #ffffff;
  overflow: hidden;
  font-family: haxrcorp, monospace;
}

.boxex {
  margin-left: 3px;
}

.bottomcontainer {
  width: 540px;
  height: 12px;
  position: absolute;
  left: -2px;
  top: 305px;
}

.sidebar {
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  position: absolute;
  top: -2px;
  bottom: 200px;
  width: 129px;
  height: 319px;
  left: 541px;
  background-color: #ffffff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.time {
  color: #ffffff;
  font-family: haxrcorp, monospace;
  font-size: 16px;
  position: absolute;
  top: -18px;
  width: auto;
  height: auto;
  left: 2px;
}
.welcome {
  line-height: 18px;
  font-family: haxrcorp, monospace;
  font-size: 22px;
  position: absolute;
  top: 80px;
  width: 300px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
}

.bookmarkscontainer {
  width: auto;
  top: 140px;
  position: relative;
  display: inline-block;
}

.marquee-text {
  position: absolute;
  top: 1px;
  padding-left: 2px;
  padding-right: 4px;
}

ul {
  width: 75px;
  list-style-type: none;
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 18px;
  margin-right: 18px;
}

li {
  text-align: left;
  padding-left: 3px;
  padding-right: 3px;
  height: 16px;
  line-height: 16px;
}

li:hover {
  background-color: #eeeeee;
  color: #000000;
}

a {
  text-decoration: none;
  font-size: 16px;
  height: 12px;
  line-height: 12px;
  color: #000000;
}

a:hover {
  text-decoration: underline;
}

.clink {
  font-size: 16px;
  text-decoration: none;
  line-height: 16px;
  color: #ffffff;
}

.clink:hover {
  text-decoration: underline;
}
.showed {
  background-color: #777777;
}
